  <div class = "form-group"> 
    <h1>Student Ratings</h1>
    <form onsubmit="conjoin(this['feedback'], this['diff'], this['qual'])">
      <fieldset>
      <legend>Your Review:</legend>
      	<textarea name="feedback" placeholder="Does your professor tell funny jokes? Leave your feedback here!" rows="10" cols="90" ></textarea>
      	<br>

      	Level of Difficulty:
  		1 <input type="range" id="a1" name="diff" min="1" max="5" step="1"> 5
  		<br>

  		Overall Quality:
  		1 <input type="range" id="a2" name="qual" min="1" max="5" step="1"> 5
  		<br>

    		<input type="submit" value="Submit">
    		</fieldset>

      <br>
      <h2 style="font-size:80%;">All posts are completely anonymous to ensure constructive, honest feedback. You must have previously been enrolled in the class to give feedback</h2>

    	<fieldset>
  	   <legend>Past Reviews:</legend>
  	
  	   </fieldset>
	  </form>
  </div>
