<div class = "panel panel-default">
  <div class = "panel-body">
    <h1>Update Classes</h1>
    <form class="update-classes" ng-submit="$ctrl.addClasses()">
      <input type="submit"/>
    </form>
  </div>
</div>

<div class = "panel panel-default">
  <div class = "panel-body">
    <section>
        Put donut gauages here
    </section>
  </div>
</div>


<div class = "panel panel-default">
<div class = "panel-body">
  <section>
    <div class = "form-group"> 
    <h1>Student Ratings</h1>
    <form onsubmit="conjoin(this['feedback'], this['diff'], this['qual'])">
      <legend>Your Review:</legend>
      	<textarea name="feedback" placeholder="Does your professor tell funny jokes? Leave your feedback here!" rows="10" cols="90" ></textarea>
      	<br>

      	Level of Difficulty: (1-5)<br>
  		<input type="range" id="a1" name="diff" min="1" max="5" step="1">
  		<br>

  		Overall Quality: (1-5)<br>
  		<input type="range" id="a2" name="qual" min="1" max="5" step="1">
  		<br>

    	<input type="submit" value="Submit">

      <br>
      <h2 style="font-size:80%;">All posts are completely anonymous to ensure constructive, honest feedback. You must have previously been enrolled in the class to give feedback</h2>
	  </form>
    </div>
  </section>
</div>
</div>

<section>
	<h1>Past Reviews</h1>
</section>

<!--repeat this code for as many reviews as present-->
<div class = "panel panel-default">
<div class= "panel-heading" id = "past"> Reviewer Name </div>
<div class = "panel-body">
  <div class = "row">
    <div class = "col-sm-2">
      <div class = "panel panel-default">
      <div class = "panel-body"> 3.0
      </div>
      </div>
      <div class = "panel panel-default">
      <div class = "panel-body"> 4.0
      </div>
      </div>
    </div>
    <div class = "col-sm-2">
      <div class = "panel-body"> Overall Quality
      </div>
      <div class = "panel-body"> Level of difficulty
      </div>
    </div>
    <div class = "col-sm-8"> sample review goes here </div>
  </div>

</div>
</div>


<ul>
<!--  <li ng-repeat="list">
    {{list.}}
  </li -->
</ul>