<!--allows user to approve/delete incoming reviews-->
<div class = "panel panel-default">
  <div class = "panel-body">
    <h1>Edit Reviews</h1>
  </div>
</div>

<div class = "panel panel-default">
  <!--repeat this code for as many reviews as present-->
  <div>
      <ul>
        <li ng-click="" ng-repeat="review in $ctrl.reviews">
          <!--repeat this code for as many reviews as present-->
          <div class = "panel panel-default">
            <div class= "panel-heading" id = "past"></div>
            <div class = "panel-body">
                <div class = "row">
                  <div class = "col-sm-2">
                      <div class = "panel panel-default">
                        <div class = "panel-body">{{review.quality}}</div>
                      </div>
                      <div class = "panel panel-default">
                        <div class = "panel-body">{{review.difficulty}}</div>
                      </div>
                  </div>
                  <div class = "col-sm-2">
                      <div class = "panel-body"> Overall Quality</div>
                      <div class = "panel-body"> Level of difficulty</div>
                  </div>
                  <div class = "col-sm-8">{{review.text}}</div>
                  <button ng-click="$ctrl.makeVisible(review)""> Confirm Review</button> 
                  <button ng-click="$ctrl.remove(review)""> Remove Review</button> 
                </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
</div>

