<div class="row">
  	<nav class="navbar navbar-default" role="navigation" id ="navbar">
	  <!-- Brand and toggle get grouped for better mobile display -->
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="#"> Cornell Reviews </a>
	  </div>

	  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	    <div class="nav navbar-nav navbar-right col-sm-5 col-md-5">
	        <form class="navbar-form" role="search">
		        <div class="input-group" id="searchbar">
		            <input ng-model="$ctrl.query" type="text" class="form-control" placeholder="Search">
		            <div class="input-group-btn">
		                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
		            </div>
		        </div>
	        </form>
	    </div>
	        <!-- <form class="new-task" ng-submit="$ctrl.classes">
			    <input ng-model="q" type="text" name="text" placeholder="Type to add new tasks"/>
			</form> -->
	    </div>
	</nav>
</div>
<div class="row">
	<div class="col-md-6">
		<header>
		  <h1>Classes</h1>
		</header>
		<ul>
		  <li ng-repeat="class in $ctrl.classes">
		    {{class.classSub}} {{class.classNum}}: {{class.classTitle}}
		  </li>
		</ul>
	</div>
	<div class="col-md-6">
		<div class = "panel panel-default">
		  <div class = "panel-body">
		    <section>
		        <div class="row">
		        	<div class="col-sm-4">
		        		<ng-gauge id="gauge1" size="200" type="arch" thick="10" value="50" cap="round" ng-label="thing1"  foreground-color="#ffcc66" background-color="#ECECEC"></ng-gauge>
		        	</div>
		        	<div class="col-sm-4">
		        		<ng-gauge id="gauge2" size="200" type="arch" thick="10" value="68.2" cap="round" label="thing2"  foreground-color="#ffcc66" background-color="#ECECEC" ></ng-gauge>
		        	</div>
		        	<div class="col-sm-4">
		        		<ng-gauge id="gauge3" size="200" type="arch" thick="10" value="33" cap="round" label="thing3"  foreground-color="#ffcc66" background-color="#ECECEC"></ng-gauge>
		        	</div>
		        </div>
		    </section>
		  </div>
		</div>


		<div class = "panel panel-default">
		<div class = "panel-body">
		  <section>
		    <div class = "form-group"> 
		    <h1>Student Ratings</h1>
		    <form onsubmit="conjoin(this['feedback'], this['diff'], this['qual'])">
		      <legend>Your Review:</legend>
		      	<textarea name="feedback" placeholder="Does your professor tell funny jokes? Leave your feedback here!" rows="10" cols="90" ></textarea>
		      	<br>

		      	Level of Difficulty: (1-5)<br>
		  		<input type="range" id="a1" name="diff" min="1" max="5" step="1">
		  		<br>

		  		Overall Quality: (1-5)<br>
		  		<input type="range" id="a2" name="qual" min="1" max="5" step="1">
		  		<br>

		    	<input type="submit" value="Submit">

		      <br>
		      <h2 style="font-size:80%;">All posts are completely anonymous to ensure constructive, honest feedback. You must have previously been enrolled in the class to give feedback</h2>
			  </form>
		    </div>
		  </section>
		</div>
		</div>

		<section>
			<h1>Past Reviews</h1>
		</section>

		<!--repeat this code for as many reviews as present-->
		<div class = "panel panel-default">
		<div class= "panel-heading" id = "past"> Reviewer Name </div>
		<div class = "panel-body">
		  <div class = "row">
		    <div class = "col-sm-2">
		      <div class = "panel panel-default">
		      <div class = "panel-body"> 3.0
		      </div>
		      </div>
		      <div class = "panel panel-default">
		      <div class = "panel-body"> 4.0
		      </div>
		      </div>
		    </div>
		    <div class = "col-sm-2">
		      <div class = "panel-body"> Overall Quality
		      </div>
		      <div class = "panel-body"> Level of difficulty
		      </div>
		    </div>
		    <div class = "col-sm-8"> sample review goes here </div>
		  </div>

		</div>
		</div>
	</div>

</div>
